main{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    background-color: white;
    width: 100%;
    font-weight: bold;
    
}
.banner
{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-right: 5px;
    margin-top: 10px;
    border: solid;
}

.login{
    height: 80%%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8e7ed;
    /*margin-right: 5px;*/
    margin-top: 10px;
    border: solid;
    justify-content: ;
}

.form{
    background-color: green;
}
.loginBottom
{
    background-color: red;
    
    width: 100%;
}

.bottom{
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*  .google{
    border: solid;
}